@font-face {
    font-family: 'Nico';
    src: url('../../fonts/Nicoletta.ttf');
}

.bor {
    border: 1px solid white;
}

body {
    background-color: #222;
    min-height: 800px;
}

.pb {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1200;
}

.header {
    min-height: 300px;

}


.a-logo {
    text-align: center;
    font-family: 'Nico';
    font-size: 9em;
    font-weight: 700;
    color: #a43ea0;
    margin-top: 10%;

}

.a-logo b {
    text-shadow: 0px 10px 2px black;
    transition: text-shadow 0.3s ease-out;
}

.a-logo b:hover {
    text-shadow: 0px -10px 2px black;
}

.nav-bar {
    margin-top: 3%;
    text-align: center;
}

.nav-container {
    display: inline-block;
    padding: 0 1%;
}

.nav-delimiter {
    border-right: 2px solid #122b40;
}

.nav-elem {
    color: #000000;
    font-weight: 600;
    font-variant: small-caps;
    opacity: 0.8;
    text-shadow: 1px 1px 1px #0f0f0f;
    transition: all 1s ease-out;
}

.nav-elem:active {
    text-decoration: none;
    color: #c090e4;
}

.nav-elem:hover {
    text-decoration: none;
    color: #c090e4;
}


.gallery {
    width: 70%;
    margin: 1% auto 0 auto;
    min-height: 500px;
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 0px;
    -moz-column-count: 4;
    -moz-column-gap: 0px;
    column-count: 4;
    column-gap: 0px;
}

.img-container {
    background-color: #222;
}

.gallery-elem {
    display: inline-block;
    width: 96% !important;
    height: auto !important;
    margin: 2% 2%;
    -moz-box-shadow: 0px 0px 4px black;
    -webkit-box-shadow: 0px 0px 4px black;
    box-shadow: 0px 0px 4px black;
    opacity: 0.9;
    visibility: hidden;
}

.gallery-elem:hover {
    opacity: 1;
}

.contact {
    width: 60%;
    margin: 1% auto 0 auto;
    background-color: #080811;
    border-radius: 10px;
    color: #c090e4;
    padding: 2% 3%;
}

.contact b {
    color: #a43ea0;
}


#footer {
    margin-top: 1%;
    height: 50px;
}

/*
.slider-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #111111;
    opacity: 0.9;
    z-index: 1000;

}
*/

.previous-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;

    z-index: 1100;

    background-color: #111111;
    opacity: 0.9;
}

.previous-img:hover {
    color: white;
    cursor: pointer;
}

.full {
    position: fixed;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100%;

    z-index: 1000;

    background-color: #111111;
    opacity: 0.9;
}

.full-img {
    visibility: hidden;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0px 0px 4px black;
    max-width: 70%;
    max-height: 90%;
    transition: all 1s ease-out;
    z-index: 1200;
}

.visible {
    visibility: visible;
}

.close {
    position: fixed;
    top: 1%;
    left: 83%;
    color: white;
}

.close:hover {
    color: #880000;
}

.next-img {
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;

    z-index: 1100;

    background-color: #111111;
    opacity: 0.9;
}

.next-img:hover {
    color: white;
    cursor: pointer;
}

.switcher-left {
    position: fixed;
    left: 7.5%;
    top: 50%;
    font-size: 150%;
}

.switcher-right {
    position: fixed;
    right: 7.5%;
    top: 50%;
    font-size: 150%;
}





